<!DOCTYPE html>
<html>

<head>
  <title>Wine-quality-prediction-app</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    {% block extra_scripts %}{% endblock %}
  </head>

<body>
  <div>
    <h1>Welcome to Wine-o-Meter, the wine quality prediction application!</h1>
    <hr/>
    <h2>What is it?</h2>
    <p>Wine-o-Meter enables you to predict the quality score of your wine. The quality score is based on a predictive model built on a dataset of almost 6500 wines.</p> 
    <p>11 physicochemical inputs describe each of those 6500 wines, within the dataset, and represent the features of the predictive model: </p>
    <ul>
        <li>Fixed Acidity</li>
        <li>Volatile Acidity</li>
        <li>Citric Acid</li>
        <li>Residual Sugar</li>
        <li>Chlorides</li>
        <li>Free Sulfur Dioxide</li>
        <li>Total Sulfur Dioxide</li>
        <li>Density</li>
        <li>pH</li>
        <li>Sulphates</li>
        <li>Alcohol</li>
    </ul>

    <p> The output / the prediction represents the quality of the wine, and this quality score ranges between 0 to 10. </p>
    <hr/>
    <h2>How it works?</h2>
    <p>You must enter the scores of the eleven elements, each element representing a dataset's column, described above.</p>
    <p>For example:</p>
    <p>[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8]</p>
    <p> USE ONLY FLOAT NUMBERS</p>
  </div>

  
      <hr/>
      <div>
        <h2>How the endpoints works in details?</h2>
          <p>
            This endpoint allows you to make a prediction of the wine quality according to the 11 features mentionned above.
          </p>
          
          <p>
            You should request this endpoint using a POST method with a JSON content. Your JSON should contain the 11 values (float) of the features ranked as above.
          </p>
          <p>
            Example: <code>curl -i -H "Content-Type: application/json" -X POST -d '{"input": [[7.0, 0.27, 0.36, 20.7, 0.045, 45.0, 170.0, 1.001, 3.0, 0.45, 8.8]]}' https://wine-o-meter-quality-app.herokuapp.com/predict</code>
          </p>
          <p>
            It returns a JSON like so:
            <pre>
              <code>
                {
                  "predict":[6]
                }
              </code>
            </pre>
          </p>
        </div>
        
      </div>
      <hr/>
      
</html>
